body {
	font-family: 'Source Sans Pro', sans-serif; 
	color:#555;
	height:98%;
}
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.box .row {
  flex: 0 1 30px;
}

.box .row.header {
  flex: 1 0 auto;
}
.box .row.content {
  flex: 1 0 auto;
}
.box .row.footer {
  flex: 0 1 auto;
}
a {
	text-decoration: none;
	color: #36AAD8;
}
a:hover {
	color:#444;
}
.heading { 
	font-family: 'Source Sans Pro', sans-serif; 
	font-weight: 600; 
	font-size: 5em;
}
.subheading { 
	font-family: 'Source Sans Pro', sans-serif; 
	font-weight: 300; 
	font-size: 1em;
}
#faded-border {
	border-radius: 100%;
	border: 0.1em solid rgba(150,150,150,0.1);
	display: inline-block;
	width:60%;
}
#name, #tagline {
	margin-left:auto;
	margin-right:auto;
	display: inline-block;
}
.smaller {
	font-size:0.9em;
}
#spacer-header {
	height:15%;
}
#spacer-content {
	height:10%;
}
.center {
	text-align: center;
}
#nav {
	display: inline-block;
	font-size: 1.2em;
	font-weight: 300;
	margin-left: auto;
	margin-right: auto;
}
#nav a {
	color:#555;
}
#nav span.link {
	opacity:1;
}
#nav span.link:hover {
	color:#36AAD8;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}
#nav span.selected {
	color:#36AAD8;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}
.spacer {
	width:0.1in;
	display: inline-block;
}
#content {
	text-align: center;
}
#about-content {
	color:#888;
	font-size: 22px;
	font-weight: 300;
	text-align: justify;
	display: inline-block;
	width: 45%;
}
#last-modified {
	font-size: 14px;
	font-weight: 300;
}